<div class="instructions app-container">
  <h1 class="instructions_title">Instruções para o Teste</h1>

  <div class="instructions_description">
    <p>
      Você vai realizar um teste que objetiva avaliar o tempo de resposta e
      qualidade da tomada de decisão na ação de ataque (sideout) no voleibol de
      praia. Desta forma, você visualizará cenas iniciadas com o saque e que
      terão a visão concluída (cena escurece) antes do ataque. Logo em seguida
      você deverá responder o mais rápido possível à questão “o que você faria
      para obter o ponto de ataque?”
    </p>

    <p>
      Seu time sempre será o mais próximo a câmera como indicado na figura
      abaixo pelas setas vermelhas. Antes de iniciar o teste, você verá duas
      cenas para familiarização.
    </p>
  </div>

  <div class="instructions_images">
    <img src="assets/img/instruction_1.jpeg" alt="" />
    <img src="assets/img/instruction_2.jpeg" alt="" />
  </div>

  <p>
    O teste dura aproximadamente 15 minutos e deve ser realizado completo para
    visualização do resultado. Posicione a mão dominante e clique em iniciar
    teste para começar. Preparado?
  </p>

  <div class="instructions_images">
    <img src="assets/img/instruction_3.jpeg" alt="" />
    <img src="assets/img/instruction_4.jpeg" alt="" />
  </div>

  <p>
    Mantenha a mão dominante posicionada de modo que cada dedo fique sobre uma
    tecla.
  </p>

  <button mat-raised-button color="primary" (click)="navigate()">
    Continuar
  </button>
</div>
